/** responsive variables **/
$break-mobile: 580px;
$break-tablet: 860px;
$break-small-monitor: 1124px;


/* font-weights */
$roboto-bold: 700;
$roboto-semiBold: 600;
$roboto-regular: 400;
$roboto-thin: 300;

/** margins **/
$m5: 5px;
$m10: 10px;
$m15: 15px;
$m20: 20px;


/** paddings **/
$p5: 5px;
$p10: 10px;
$p15: 15px;
$p20: 20px;

/** colors **/
$writers: #bbbbbb;
$titles: #000;
$short-info: #b6b6b6;


/** font-sizes **/
$f10: 10px;
$f11: 11px;
$f12: 12px;
$f13: 13px;
$f14: 14px;
$f16: 16px;
$f18: 18px;
$f20: 20px;
$f21: 21px;
$f22: 22px;